<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApiKey</key>
	<string>$(API_KEY)</string>
	<key>UIAppFonts</key>
	<array>
		<string>SFMono-Medium.otf</string>
		<string>SFMono-Bold.otf</string>
		<string>SFMono-Regular.otf</string>
		<string>SFMono-Semibold.otf</string>
		<string>SFMono-Light.otf</string>
		<string>CircularStd-Black.ttf</string>
		<string>CircularStd-Medium.ttf</string>
		<string>CircularStd-Book.ttf</string>
		<string>CircularStd-Bold.ttf</string>
	</array>
</dict>
</plist>
